<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VagabondK.Protocols.Abstractions" version="1.1.21" />
  <package id="VagabondK.Protocols.Channels" version="1.1.22" manuallyInstalled="true" />
  <package id="VagabondK.Protocols.LSElectric" version="1.1.21" manuallyInstalled="true" />
</packages>